.footerWrapper {
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  margin-top: auto;
}

.highlight {
    color: var(--main-color);
    cursor: pointer;
}
